:root {
  --header-color: rgba(238, 238, 238, 1);
  --basic-white: #ffffff;
  --subtitles: rgba(0, 0, 0, 1);
  --index-button-text: rgba(255, 255, 255, 1);
  --red-button: rgba(251, 86, 90, 1);
  --green-button: rgba(0, 202, 116, 1);
  --yellow-button: rgba(239, 200, 73, 1);
}

/*СТИЛИ СТРАНИЦЫ*/

.page {
  min-width: 100%;
  background-color: var(--basic-white);
}

.page-body {
  min-height: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  outline: 5px solid rgba(255, 0, 0, 0.3);
}

/*INDEX*/

.main-header {
  background-color: var(--header-color);
}

.main-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  outline: 5px solid rgba(255, 0, 0, 0.3);
}

.site-navigation {                                /*Студия, клиенты, магазин, контакты*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  line-height: 30px;
  color: var(--subtitles);
}

.header-a {                                       /*Ссылки*/
  text-decoration: none;
  color: var(--subtitles);
}

.button {                                         /*Кнопки в index*/
  text-decoration: none;
  color: var(--index-button-text);
}


.basket {                                         /*Корзина*/
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: var(--subtitles);
  margin-top: 26px;
  margin-left: 50px;
  outline: 5px solid rgba(0,255,0, 0.3);
}


.main-header-logo {                               /*изображение*/
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 159.87px;
  height: 65.02px;
  outline: 5px solid rgba(0,255,0, 0.3);
}

/*MAIN*/

.main-description {                               /*Блок слева*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  outline: 5px solid rgba(12, 20, 240, 0.3);
  background-color: var(--header-color);
}

.description-title {                              /*Долго, дорого, скурпулёзно*/
  font-size: 55px;
  line-height: 55px;
}

.site-description {                             /*Математически выверенный дизайн для вашего сайта...*/
  font-size: 16px;
  line-height: 24px;
}

.description-button,
.order-button,
.description-button {                                       /*кнопка УЗНАТЬ БОЛЬШЕ*/
  font-size: 16px;
  line-height: 18px;
  color: var(--index-button-text);
  text-decoration: none;
  background-color: var(--red-button);
}

.app-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--index-button-text);
  text-decoration: none;
  background-color: var(--green-button);
}

.presentations-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--index-button-text);
  text-decoration: none;
  background-color: var(--yellow-button);
}

.sliders {                                       /*Изображение справа*/
  outline: 5px solid rgba(12, 20, 240, 0.3);
}

.main-sections {                                 /*Веб-сайты, Приложения, Презентации*/
  display: flex;
  justify-content: space-around;
}

.web-sites {                                     /*Веб-сайты, Приложения, Презентации*/
  display: grid;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 24px;
  line-height: 30px;
  outline: 5px solid rgba(12, 20, 240, 0.3);
}

.web-sites-description,                           /*Пояснения к блокам*/
.app-description,
.presentations-description {
  font-size: 16px;
  line-height: 24px;
}

.main-navigation-wrapper {
  display: grid;
  width: 437px;
  height: 30px;
  outline: 5px solid rgba(0,255,0, 0.3);
}

.left-side-description {
  outline: 5px solid rgba(12, 20, 240, 0.3);
}

.main-container {
  display: grid;
  outline: 5px solid rgba(245, 10, 237, 0.3);
}

.main-sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid rgba(245, 10, 237, 0.3);
}

.main-specification {
  display: grid;
  grid-template-columns: 1fr 1fr;
  outline: 5px solid rgba(245, 10, 237, 0.3);
}

.statistics {
  outline: 5px solid rgba(245, 10, 237, 0.3);
}

.list-title {                       /*С 2004 года любим точность во всём*/
  font-size: 16px;
  line-height: 24px;
}

.persent {                          /*Проценты*/
  font-size: 45px;
  line-height: 64px;
}

.sup-persent {                      /*символ %*/
  font-size: 26px;
  line-height: 40px;
}

.persent-comments {                 /*Пояснения*/
  font-size: 16px;
  line-height: 18px;
}

.web-studio {                       /*Мы маленькая, но гордая...*/
  font-size: 45px;
  line-height: 45px;
}

.web-studio-description,            /*Выполняем заказы на разработку*/
.orders,
.orders-list {
  font-size: 16px;
  line-height: 24px;
}

.main-map {                         /*блок-карта*/
  min-width: 100%;
  height: auto;
}

.nerds-adress {                     /*Блок на карте*/
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.nerds-adress-title {               /*NЁRDS DESIGN STUDIO*/
  font-size: 18px;
  line-height: 30px;
}

.nerds-adress-description,          /*191186, Санкт-Петербург...*/
.telephone-number {
  font-size: 16px;
  line-height: 18px;
}

.main-statistic {
  display: grid;
  outline: 5px solid rgba(245, 10, 237, 0.3);
}

.main-statistic-persent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid rgba(245, 10, 237, 0.3);
}

.statistic-description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid rgba(245, 10, 237, 0.3);
}

.main-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  outline: 5px solid rgba(24, 190, 201, 0.3);
}

/*FOOTER*/

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  outline: 5px solid rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.friendsship {                     /*БЛОК Давайте дружить, это выгодно*/
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.friendsship-title {               /*Давайте дружить, это выгодно*/
  font-size: 36px;
  line-height: 36px;
}

.friendsship-text {                /*Скидки для друзей*/
  font-size: 16px;
  line-height: 22px;
}

.partners {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


/*CATALOG*/

.catalog-title {                          /*Магазин готовых шаблонов*/
  background-color: var(--header-color);
  font-size: 55px;
  line-height: 55px;
}

.filter-description {         /*СТОИМОСТЬ, СЕТКА, ОСОБЕННОСТИ*/
  font-size: 18px;
  line-height: 30px;
}

.range {                      /*от...до...*/
  font-size: 16px;
  line-height: 22px;
}

.grid,
.characteristic {
  font-size: 16px;
  line-height: 19px;
}

.sort {                       /*Сортировать*/
  font-size: 18px;
  line-height: 30px;
}

.sorting-link {                    /*По цене, типу, названию*/
  text-decoration: none;
  color: var(--subtitles);
  background-color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.pagination-link {            /*Кнопки 1...2...3*/
  font-size: 16px;
  line-height: 18px;
}

.button-next {                /*Кнопка Следующая*/
  font-size: 16px;
  line-height: 18px;
  color: var(--subtitles);
  background-color: var(--header-color);
}

.result {                     /*Кнопка ПОКАЗАТЬ*/
  font-size: 16px;
  line-height: 18px;
  color: var(--subtitles);
  background-color: var(--header-color);
}

.sedona-popap {
  background-color: var(--header-color);
}

.sedona-price {               /*9900*/
  font-size: 16px;
  line-height: 18px;
  color: var(--index-button-text);
  text-decoration: none;
  background-color: var(--red-button);
}
